# Entorno virtual
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]

# Archivos subidos (¡No querrás los archivos de prueba de todos!)
app/static/uploads/*
!app/static/uploads/.gitkeep

# Base de datos local y configuración sensible
*.sqlite3
*.db
*.bak
instance/*.db
.env

# VS Code
.vscode/