# Servidor Web y Base de Datos
Flask==3.0.2
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.9
PyMySQL==1.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
python-dotenv==1.0.1

# Procesamiento de Datos
pandas==2.2.1
openpyxl==3.1.2

# Generación de Reportes (PDF)
reportlab==4.1.0

# Utilidades
email-validator==2.1.1
Werkzeug==3.0.1
Flask-Migrate==4.0.4

# Pruebas
pytest==8.3.2